h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

P {
    color: darkblue;
    font-size: 18px;
    font-style: oblique;
}

body {
    background-color: lightblue;
    padding-bottom: 40px;
}

img {
    border: double;
    border-color: black;
    height: 170px;
    width: 190px;
}

#starters li {
    color: #0000ff;
    font-weight: bold;
}

.pizza a {
    color: #0000ff;
    font-weight: bold;
}

.drinks li {
    color: #0000ff;
    font-weight: bold;
}

.desserts li {
    color: #0000ff;
    font-weight: bold;
}
.jumbotron {
    color: white;
    background-color: darkblue;
}
.jumbotron p {
    color: white;
}
.picture {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 300px;
}